/* A style sheet for "A Guide to High Quality Web Development" website */


/* Created by Talitha van Lith, Apr 2017 */


/* margin/padding: top right bottom left;*/


/* An Art-Deco style font for headings */

@font-face {
    font-family: 'Monthoers';
    src: url('fonts/Monthoers.otf') format('opentype'), url('fonts/Monthoers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Swistblnk';
    src: url('fonts/Swistblnk_Banthers.otf') format('opentype'), url('fonts/Swistblnk_Banthers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Simplifica';
    src: url('fonts/simple.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #f8f8f8;
    color: #1b1d24;
    padding: 0;
    margin: 0;
}

body {
    background-color: inherit;
    color: inherit;
    font-family: Simplifica, ariel, sans-serif;
    text-align: center;
    min-height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;
}

section {
    padding: 60px 60px 30px 60px;
}


/* Section padding for index page */

.index {
    padding: 0;
}


/* Page header specifications */

header {
    background-color: #a8cbe5;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    color: inherit;
}

h1 {
    color: #f8f8f8;
    background-color: inherit;
    font-family: Swistblnk, ariel, sans-serif;
    font-size: 65px;
    float: left;
    margin: 0;
    padding: 20px 0 0 0;
}


/* The word "Hotel" in the header */

#header1 {
    padding: 20px 0 0 33%;
}

.header_image {
    color: inherit;
    background-color: inherit;
    float: left;
    padding: 13px 35px 0 20px;
    margin: 0;
    width: 80px;
}


/* Page header finishes */


/* navigation */

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0 20% 0 20%;
    overflow: hidden;
    background-color: #278bdd;
    color: #f8f8f8;
    position: fixed;
    top: 100px;
    width: 100%;
    height: 45px;
}

li.button {
    float: left;
    width: 15%;
    padding: 0;
    margin: 0;
}

li a {
    display: block;
    color: inherit;
    background-color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}

#adminNav {
    padding: 0 10% 0 10%;
}


/* Change the link color to orange on hover and underline*/

li a:hover:not(.active) {
    background-color: inherit;
    color: #ea8e2e;
    text-decoration: underline;
}


/* Change the active link to be orange and underlined*/

.active {
    background-color: inherit;
    color: #ea8e2e;
    text-decoration: underline;
}


/* navigation finish */

h2 {
    color: inherit;
    background-color: inherit;
    font-family: Simplifica, Arial, sans-serif;
    clear: left;
    margin: 130px 0 0 0;
    padding: 70px 0 30px 0;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    color: inherit;
    background-color: inherit;
    text-align: center;
    font-family: Simplifica, ariel, sans-serif;
    font-size: 35px;
    padding: 10px 0 0 0;
}


/* Image slider for index.html*/

.slideshowContainer {
    height: 400px;
    margin-left: 0;
    padding: 0;
    position: static;
    overflow: hidden;
}

.slideshowContainer .slider {
    margin: 0;
    padding: 0;
    height: 400px;
    float: left;
    position: static;
}


/* end of image slider*/


/* room.html page styling */

.roomPic {
    margin: 60px 0 0 0;
    padding: 0;
    width: 50%;
    text-align: center;
    background-color: #e3eef7;
    height: 500px;
    float: left;
}

.room {
    margin: 60px 0 50px 0;
    padding: 60px 0 0 0;
    width: 50%;
    text-align: center;
    background-color: #e3eef7;
    height: 440px;
    float: left;
}

.roomWidth {
    width: 666px;
}

.roomWidth2 {
    width: 800px;
}

.roomWidth3 {
    width: 658px;
}


/* end of room.html page styling */

figure {
    padding: 0;
    margin: 0;
}


/*findus.html layout*/

#map {
    padding: 0;
    margin: 0 0 70px 0;
    width: 50%;
    height: 500px;
    float: left;
    border: 5px solid #278bdd;
}

#food_info {
    float: left;
    background-color: inherit;
    padding: 20px 40px 0 20px;
    margin: 0;
    width: 18%;
    height: 510px;
    align-content: center;
}

#activity_info {
    float: left;
    background-color: inherit;
    padding: 20px 0 0 60px;
    margin: 0;
    width: 18%;
    height: 510px;
    align-content: center;
}

.map_list {
    list-style-type: none;
    text-align: left;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#maptitle {
    margin: 80px 0 0 0;
    padding: 70px 0 30px 0;
}

.popup-text {
    font-size: 20px;
    padding: 0;
    margin: 0 0 0 10px;
    font-family: Simplifica, ariel, sans-serif;
}

.popup-head {
    font-size: 25px;
    padding: 0;
    margin: 20px 0 0 0;
    font-family: Simplifica, ariel, sans-serif;
}

.popup_img {
    padding: 0 0 0 0;
    margin: 10px 0 0 0;
    border: 2px solid #1b1d24;
}


/* The slider switch (Code obtained from W3Schools and edited slightly)*/


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 20px 10px 0 0;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ea8e2e;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* End of slider code from W3Schools */


/* Check In and check out form*/

p {
    padding: 20px 0 70px 0;
    margin: 0;
    font-size: 30px;
    color: inherit;
    background-color: inherit;
}

.options {
    padding: 5px;
    margin: 13px;
    background-color: #a8cbe5;
    color: #1b1d24;
    width: 22%;
    height: 240px;
    float: left;
}

.options p,
.options h3 {
    text-align: left;
    padding: 10px;
    margin: 0;
    font-size: 23px;
}

.optionsTitle {
    margin: 75px 0 75px 0;
    padding: 0;
}

#checkIn,
#checkOut {
    float: left;
    padding: 0;
    margin: 40px 40px 0 20px;
}

#checkInDay,
#checkInMonth,
#checkInYear,
#checkOutDay,
#checkOutMonth,
#checkOutYear {
    background-color: #ea8e2e;
    color: #f8f8f8;
    cursor: pointer;
    margin: 0;
    font-size: 15px;
}

#searchButton {
    font-size: 20px;
    color: #f8f8f8;
    background-color: #ea8e2e;
    font-weight: bold;
    border: 5px solid #ea8e2e;
    font-family: Simplifica, Arial, sans-serif;
    padding: 10px 7px 7px 10px;
    width: 150px;
    margin: 70px 0 10px 0;
    clear: left;
}

#searchButton:hover {
    background-color: #f8f8f8;
    color: #ea8e2e;
    cursor: pointer;
}

fieldset {
    border: 10px solid #278bdd;
    margin: 0 0 0 12%;
    align-items: center;
    padding: 0 0 20px 20px;
    width: 70%;
    font-size: 30px;
}

fieldset ul {
    padding: 0 0 15px 50px;
    list-style-type: none;
}


/* end of check in check out form layout */


/* Table layout for pending bookings */

table {
    border-collapse: collapse;
    margin: 20px 0 20px 10%;
    width: 80%;
}

table,
th,
td {
    padding: 2px 0 2px 5px;
    font-size: 25px;
}

tr:nth-child(odd) {
    background-color: #a8cbe5;
    color: inherit;
}

td {
    width: 180px;
}

th {
    height: 50px;
}


/* delete button */

.delete {
    font-size: 20px;
    color: #f8f8f8;
    background-color: #a8cbe5;
    font-weight: bold;
    border: 3px solid #a8cbe5;
    font-family: Simplifica, Arial, sans-serif;
    padding: 10px 20px 8px 23px;
    margin: 0;
}

.delete:hover {
    background-color: #f8f8f8;
    border: 3px solid #a8cbe5;
    color: #a8cbe5;
    cursor: pointer;
}

#error {
    color: red;
    padding: 0px;
    margin: 70px 100px 0 0;
}

.more-margin {
    padding: 0;
    margin: 180px 0 90px 0;
}


/* Table layout for pending bookings finished*/


/*book buttons on book.html*/

.bookButton {
    font-size: 20px;
    color: #a8cbe5;
    background-color: #f8f8f8;
    font-weight: bold;
    border: 3px solid #f8f8f8;
    font-family: Simplifica, Arial, sans-serif;
    padding: 3px 5px 0 7px;
    margin: 10px 10px 10px 20px;
    float: right;
}

.bookButton:hover {
    background-color: #a8cbe5;
    color: #f8f8f8;
    cursor: pointer;
}


/* admin.html page layout*/

.invisible {
    display: none;
}

.roomBooked {
    padding: 5px;
    margin: 13px;
    background-color: #a8cbe5;
    color: #1b1d24;
    width: 22%;
    float: left;
}

.roomBooked p,
.roomBooked h3 {
    text-align: left;
    padding: 10px;
    margin: 0;
    font-size: 23px;
}

.booked {
    margin-top: 20px;
}


/* admin.html page layout*/


/* bottom of page styling */

.poolFooter {
    width: 100%;
    padding: 0;
    margin: 0;
}

.last_p {
    clear: left;
}

footer {
    width: 100%;
    height: 30px;
    padding: 3px 0 0 0;
    margin: 0;
    text-align: center;
    color: #f8f8f8;
    background-color: #278bdd;
    clear: left;
}

footer p {
    clear: left;
    padding: 5px 0 0 0;
    margin: 0;
    font-size: 17px;
}


/* finished bottom  of page styling*/