/* A style sheet for "A Guide to High Quality Web Development" website */


/* Created by Talitha van Lith, Apr 2017 */


/* margin/padding: top right bottom left;*/


/* An Art-Deco style font for headings */

@font-face {
    font-family: 'Monica';
    src: url('fonts/MonicasSalonShadowNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonicaSmall';
    src: url('fonts/MonicasSalonNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoLight';
    src: url('fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RaleLight';
    src: url('fonts/Raleway-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rale';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #FFEDDF;
    color: #0D1321;
    padding: 0;
    margin: 0;
}

body {
    background-color: inherit;
    color: inherit;
    font-family: LatoLight, ariel, sans-serif;
    text-align: center;
    min-height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;
}

section {
    padding: 60px 60px 30px 60px;
}


/* Page header specifications */

header {
    background-color: #F0B67F;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    color: inherit;
}

h1 {
    color: #823636;
    background-color: inherit;
    font-family: MonicaSmall, ariel, sans-serif;
    font-size: 65px;
    /* float: left; */
    margin: 0;
    padding-top: 15px;
}


/* Page header finishes */


/* navigation */

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0 17% 5px 17%;
    overflow: hidden;
    background-color: #823636;
    color: #FFEDDF;
    position: fixed;
    top: 100px;
    width: 100%;
    height: 45px;
}

li.button {
    float: left;
    width: 13%;
    padding: 0;
    margin: 0;
}

nav li a {
    display: block;
    color: inherit;
    background-color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}


/* Change the link color to orange on hover and underline*/

nav li a:hover:not(.active) {
    background-color: inherit;
    color: #F0B67F;
    text-decoration: underline;
}

p a:hover {
    background-color: inherit;
    color: #823636;
    text-decoration: underline;
}

ul a:hover:not(.active) {
    background-color: inherit;
    color: #823636;
    text-decoration: underline;
}

h1 a {
    text-decoration: none;
    color: #823636;
    background-color: inherit;
}

ul.teamList {
    text-align: left;
    list-style-type: none;
    padding: 0 10% 20px 25%;
    font-size: 20px;
}


/* Change the active link to be orange and underlined*/

.active {
    background-color: inherit;
    color: #F0B67F;
    text-decoration: underline;
}


/* navigation finish */

h2 {
    color: inherit;
    background-color: inherit;
    font-family: MonicaSmall, Arial, sans-serif;
    float: left;
    clear: left;
    margin: 100px 0px 0 15%;
    padding: 70px 0 30px 0;
    font-size: 45px;
}

h3 {
    color: inherit;
    background-color: inherit;
    text-align: center;
    font-family: Rale, ariel, sans-serif;
    font-size: 20px;
    padding: 10px 0 0 0;
    margin-left: 17%;
    clear: left;
    float: left;
}

figure {
    padding: 0;
    margin: 0;
}

p {
    padding: 0 10% 20px 25%;
    font-size: 20px;
    clear: left;
    text-align: left;
}

ol,
#codeStyle {
    text-align: left;
    font-size: 18px;
    padding: 0 10% 20px 25%;
}

ol li {
    padding-bottom: 10px;
}

table {
    text-align: left;
    vertical-align: text-top;
    font-size: 18px;
    padding: 0 10% 20px 20%;
    clear: left;
}

.col {
    width: 15%;
}

.sum {
    width: 40%
}


/* bottom of page styling */

footer {
    width: 100%;
    height: 30px;
    padding: 3px 0 0 0;
    margin: 0;
    text-align: center;
    color: #F0B67F;
    background-color: #823636;
    clear: left;
}

footer p {
    clear: left;
    padding: 5px 0 5px 0;
    margin: 0;
    font-size: 15px;
    text-align: center;
}


/* finished bottom  of page styling*/